In [103]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

#geopandas to process geospatial/gis data
import geopandas as gpd

In [93]:
#User input
ethnicity_csv = "N:\Geodatabase\Raw_Data\Census 2021\Ethnicity\TS021-2021-3-filtered-2025-02-06T08_07_15Z.csv"

In [94]:
#Load csv
ethnicity_df = pd.read_csv(ethnicity_csv, nrows= 1000)
ethnicity_df.head(25)

,Lower layer Super Output Areas Code,Lower layer Super Output Areas,Ethnic group (20 categories) Code,Ethnic group (20 categories),Observation
0,E01000001,City of London 001A,-8,Does not apply,0
1,E01000001,City of London 001A,1,"Asian, Asian British or Asian Welsh: Bangladeshi",4
2,E01000001,City of London 001A,2,"Asian, Asian British or Asian Welsh: Chinese",66
3,E01000001,City of London 001A,3,"Asian, Asian British or Asian Welsh: Indian",49
4,E01000001,City of London 001A,4,"Asian, Asian British or Asian Welsh: Pakistani",2
5,E01000001,City of London 001A,5,"Asian, Asian British or Asian Welsh: Other Asian",37
6,E01000001,City of London 001A,6,"Black, Black British, Black Welsh, Caribbean o...",8
7,E01000001,City of London 001A,7,"Black, Black British, Black Welsh, Caribbean o...",3
8,E01000001,City of London 001A,8,"Black, Black British, Black Welsh, Caribbean o...",0
9,E01000001,City of London 001A,9,Mixed or Multiple ethnic groups: White and Asian,28
10,E01000001,City of London 001A,10,Mixed or Multiple ethnic groups: White and Bla...,8
11,E01000001,City of London 001A,11,Mixed or Multiple ethnic groups: White and Bla...,2
12,E01000001,City of London 001A,12,Mixed or Multiple ethnic groups: Other Mixed o...,18
13,E01000001,City of London 001A,13,"White: English, Welsh, Scottish, Northern Iris...",822
14,E01000001,City of London 001A,14,White: Irish,32
15,E01000001,City of London 001A,15,White: Gypsy or Irish Traveller,0
16,E01000001,City of London 001A,16,White: Roma,11
17,E01000001,City of London 001A,17,White: Other White,316
18,E01000001,City of London 001A,18,Other ethnic group: Arab,22
19,E01000001,City of London 001A,19,Other ethnic group: Any other ethnic group,46
20,E01000002,City of London 001B,-8,Does not apply,0
21,E01000002,City of London 001B,1,"Asian, Asian British or Asian Welsh: Bangladeshi",7
22,E01000002,City of London 001B,2,"Asian, Asian British or Asian Welsh: Chinese",102
23,E01000002,City of London 001B,3,"Asian, Asian British or Asian Welsh: Indian",37
24,E01000002,City of London 001B,4,"Asian, Asian British or Asian Welsh: Pakistani",3

In [95]:
lsoa_ethincity_df_P = pd.pivot_table(ethnicity_df, values='Observation', index=['Lower layer Super Output Areas Code'], columns=['Ethnic group (20 categories)'], aggfunc=np.sum)
lsoa_ethincity_df_P = lsoa_ethincity_df_P.reset_index()
lsoa_ethincity_df_P = lsoa_ethincity_df_P.rename_axis("ID")  # Rename index
lsoa_ethincity_df_P.head()

Ethnic group (20 categories),Lower layer Super Output Areas Code,"Asian, Asian British or Asian Welsh: Bangladeshi","Asian, Asian British or Asian Welsh: Chinese","Asian, Asian British or Asian Welsh: Indian","Asian, Asian British or Asian Welsh: Other Asian","Asian, Asian British or Asian Welsh: Pakistani","Black, Black British, Black Welsh, Caribbean or African: African","Black, Black British, Black Welsh, Caribbean or African: Caribbean","Black, Black British, Black Welsh, Caribbean or African: Other Black",Does not apply,...,Mixed or Multiple ethnic groups: White and Asian,Mixed or Multiple ethnic groups: White and Black African,Mixed or Multiple ethnic groups: White and Black Caribbean,Other ethnic group: Any other ethnic group,Other ethnic group: Arab,"White: English, Welsh, Scottish, Northern Irish or British",White: Gypsy or Irish Traveller,White: Irish,White: Other White,White: Roma
ID,,,,,,,,,,,,,,,,,,,,,
0,E01000001,4,66,49,37,2,8,3,0,0,...,28,8,2,46,22,822,0,32,316,11
1,E01000002,7,102,37,32,3,9,2,0,0,...,26,4,2,37,13,734,0,42,302,6
2,E01000003,11,52,37,50,3,34,15,7,0,...,36,14,7,89,18,815,0,33,343,4
3,E01000005,263,35,24,31,1,77,27,15,0,...,16,11,20,101,24,255,0,17,148,4
4,E01000006,214,11,163,88,409,128,42,30,0,...,16,13,15,82,3,241,0,15,338,11

In [96]:
# Dictionary for renaming columns with corrected keys
column_rename_map = {
    "Lower layer Super Output Areas Code":"lsoa21cd",
    "Asian, Asian British or Asian Welsh: Bangladeshi": "asian_bangladeshi_count",
    "Asian, Asian British or Asian Welsh: Chinese": "asian_chinese_count",
    "Asian, Asian British or Asian Welsh: Indian": "asian_indian_count",
    "Asian, Asian British or Asian Welsh: Pakistani": "asian_pakistani_count",
    "Asian, Asian British or Asian Welsh: Other Asian": "asian_other_count",
    
    "Black, Black British, Black Welsh, Caribbean or African: African": "black_african_count",
    "Black, Black British, Black Welsh, Caribbean or African: Caribbean": "black_caribbean_count",
    "Black, Black British, Black Welsh, Caribbean or African: Other Black": "black_other_count",
    
    "Mixed or Multiple ethnic groups: Other Mixed or Multiple ethnic groups": "mixed_or_multiple_other_count",
    "Mixed or Multiple ethnic groups: White and Asian": "mixed_or_multiple_white_and_asian_count",
    "Mixed or Multiple ethnic groups: White and Black African": "mixed_or_multiple_white_and_black_african_count",
    "Mixed or Multiple ethnic groups: White and Black Caribbean": "mixed_or_multiple_white_and_black_caribbean_count",
    
    "Other ethnic group: Any other ethnic group": "other_count",
    "Other ethnic group: Arab": "other_arab_count",
    
    "White: English, Welsh, Scottish, Northern Irish or British": "white_british_count",
    "White: Gypsy or Irish Traveller": "white_gypsy_or_irish_count",
    "White: Irish": "white_irish_count",
    "White: Other White": "white_other_count",
    "White: Roma": "white_roma_count"
}

# Rename columns using the dictionary
lsoa_ethincity_df_P.rename(columns=column_rename_map, inplace=True)
lsoa_ethincity_df_P.drop(['Does not apply'],1, inplace=True)
lsoa_ethincity_df_P.head()

C:\Users\abhimanya.achara\AppData\Local\Temp\ipykernel_26276\2603255344.py:31: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  lsoa_ethincity_df_P.drop(['Does not apply'],1, inplace=True)

Ethnic group (20 categories),lsoa21cd,asian_bangladeshi_count,asian_chinese_count,asian_indian_count,asian_other_count,asian_pakistani_count,black_african_count,black_caribbean_count,black_other_count,mixed_or_multiple_other_count,mixed_or_multiple_white_and_asian_count,mixed_or_multiple_white_and_black_african_count,mixed_or_multiple_white_and_black_caribbean_count,other_count,other_arab_count,white_british_count,white_gypsy_or_irish_count,white_irish_count,white_other_count,white_roma_count
ID,,,,,,,,,,,,,,,,,,,,
0,E01000001,4,66,49,37,2,8,3,0,18,28,8,2,46,22,822,0,32,316,11
1,E01000002,7,102,37,32,3,9,2,0,28,26,4,2,37,13,734,0,42,302,6
2,E01000003,11,52,37,50,3,34,15,7,44,36,14,7,89,18,815,0,33,343,4
3,E01000005,263,35,24,31,1,77,27,15,32,16,11,20,101,24,255,0,17,148,4
4,E01000006,214,11,163,88,409,128,42,30,26,16,13,15,82,3,241,0,15,338,11

In [97]:
lsoa_ethincity_df_P.columns

Index(['lsoa21cd', 'asian_bangladeshi_count', 'asian_chinese_count',
       'asian_indian_count', 'asian_other_count', 'asian_pakistani_count',
       'black_african_count', 'black_caribbean_count', 'black_other_count',
       'mixed_or_multiple_other_count',
       'mixed_or_multiple_white_and_asian_count',
       'mixed_or_multiple_white_and_black_african_count',
       'mixed_or_multiple_white_and_black_caribbean_count', 'other_count',
       'other_arab_count', 'white_british_count', 'white_gypsy_or_irish_count',
       'white_irish_count', 'white_other_count', 'white_roma_count'],
      dtype='object', name='Ethnic group (20 categories)')

In [98]:
lsoa_ethincity_df_P['total_ethnicity_pop'] = lsoa_ethincity_df_P.sum(axis=1,numeric_only=True)
lsoa_ethincity_df_P.head()

Ethnic group (20 categories),lsoa21cd,asian_bangladeshi_count,asian_chinese_count,asian_indian_count,asian_other_count,asian_pakistani_count,black_african_count,black_caribbean_count,black_other_count,mixed_or_multiple_other_count,...,mixed_or_multiple_white_and_black_african_count,mixed_or_multiple_white_and_black_caribbean_count,other_count,other_arab_count,white_british_count,white_gypsy_or_irish_count,white_irish_count,white_other_count,white_roma_count,total_ethnicity_pop
ID,,,,,,,,,,,,,,,,,,,,,
0,E01000001,4,66,49,37,2,8,3,0,18,...,8,2,46,22,822,0,32,316,11,1474
1,E01000002,7,102,37,32,3,9,2,0,28,...,4,2,37,13,734,0,42,302,6,1386
2,E01000003,11,52,37,50,3,34,15,7,44,...,14,7,89,18,815,0,33,343,4,1612
3,E01000005,263,35,24,31,1,77,27,15,32,...,11,20,101,24,255,0,17,148,4,1101
4,E01000006,214,11,163,88,409,128,42,30,26,...,13,15,82,3,241,0,15,338,11,1845

In [99]:
def createperc(dataframe, columns, total_column):
    for column in columns:
        if pd.api.types.is_numeric_dtype(dataframe[column]):
            perc_column = column.replace('_count', '_perc')          
            dataframe[perc_column] = (dataframe[column]/dataframe[total_column])*100

In [100]:
createperc(lsoa_ethincity_df_P, lsoa_ethincity_df_P.columns,'total_ethnicity_pop')

In [101]:
lsoa_ethincity_df_P.head()

Ethnic group (20 categories),lsoa21cd,asian_bangladeshi_count,asian_chinese_count,asian_indian_count,asian_other_count,asian_pakistani_count,black_african_count,black_caribbean_count,black_other_count,mixed_or_multiple_other_count,...,mixed_or_multiple_white_and_asian_perc,mixed_or_multiple_white_and_black_african_perc,mixed_or_multiple_white_and_black_caribbean_perc,other_perc,other_arab_perc,white_british_perc,white_gypsy_or_irish_perc,white_irish_perc,white_other_perc,white_roma_perc
ID,,,,,,,,,,,,,,,,,,,,,
0,E01000001,4,66,49,37,2,8,3,0,18,...,1.899593,0.542741,0.135685,3.120760,1.492537,55.766621,0.0,2.170963,21.438263,0.746269
1,E01000002,7,102,37,32,3,9,2,0,28,...,1.875902,0.288600,0.144300,2.669553,0.937951,52.958153,0.0,3.030303,21.789322,0.432900
2,E01000003,11,52,37,50,3,34,15,7,44,...,2.233251,0.868486,0.434243,5.521092,1.116625,50.558313,0.0,2.047146,21.277916,0.248139
3,E01000005,263,35,24,31,1,77,27,15,32,...,1.453224,0.999092,1.816530,9.173479,2.179837,23.160763,0.0,1.544051,13.442325,0.363306
4,E01000006,214,11,163,88,409,128,42,30,26,...,0.867209,0.704607,0.813008,4.444444,0.162602,13.062331,0.0,0.813008,18.319783,0.596206

In [102]:
lsoa2021_shapefile = r"C:\Users\abhimanya.achara\OneDrive - priorpartners.com\Documents\UK DATA\2021 Census Data\Lower_Layer_Super_Output_Areas_(Dec_2021)_Boundaries_Full_Extent_(BFE)_EW\Lower_Layer_Super_Output_Areas_(Dec_2021)_Boundaries_Full_Extent_(BFE)_EW.shp"

In [104]:
# Attempt to read from the server first, fallback to local path if it fails
lsoa2021boundary_df = gpd.read_file(lsoa2021_shapefile)
print("Shapefile loaded successfully from the server.")

# Display the first few rows
lsoa2021boundary_df.head()

Shapefile loaded successfully from the server.

,FID,LSOA21CD,LSOA21NM,Shape__Are,Shape__Len,GlobalID,geometry
0,1,E01000001,City of London 001A,129865.314476,2635.767993,4dd060c0-a44a-4c62-aca3-b0c88c0bf0d0,"POLYGON ((532151.537 181867.433, 532152.500 18..."
1,2,E01000002,City of London 001B,228419.782242,2707.816821,d0a47b5d-5649-4242-a8e7-462078975c1d,"POLYGON ((532634.497 181926.016, 532632.048 18..."
2,3,E01000003,City of London 001C,59054.204697,1224.573160,2904cc10-e994-4a6e-b11c-06be7fbd74d2,"POLYGON ((532153.703 182165.155, 532158.250 18..."
3,4,E01000005,City of London 001E,189577.709503,2275.805344,bfcf5958-f052-4388-8efd-75bb808d8b83,"POLYGON ((533619.062 181402.364, 533639.868 18..."
4,5,E01000006,Barking and Dagenham 016A,146536.995750,1966.092607,64a24862-79c1-4c8c-ab7b-d9cec1d3c0c6,"POLYGON ((545126.852 184310.838, 545145.213 18..."

In [ ]:
#Drop and rename fields
lsoa2021boundary_df.drop(['Shape__Are', 'Shape__Len', 'GlobalID'], 1, inplace = True)
lsoa2021boundary_df.rename(columns = {'LSOA21CD':'lsoa21cd','LSOA21NM':'lsoa21nm'}, inplace = True)
lsoa2021boundary_df.head()