In [2]:
#pandas for spreadsheet processing
import pandas as pd

# 1. Load CSV

In [36]:
# Create Dataframe
lsoa_ethnicity_df = pd.read_csv(r"C:\Users\abhimanya.achara\Downloads\TS021-2021-3-filtered-2025-02-06T08_07_15Z.csv", nrows = 1000)
lsoa_ethnicity_df.head()

,Lower layer Super Output Areas Code,Lower layer Super Output Areas,Ethnic group (20 categories) Code,Ethnic group (20 categories),Observation
0,E01000001,City of London 001A,-8,Does not apply,0
1,E01000001,City of London 001A,1,"Asian, Asian British or Asian Welsh: Bangladeshi",4
2,E01000001,City of London 001A,2,"Asian, Asian British or Asian Welsh: Chinese",66
3,E01000001,City of London 001A,3,"Asian, Asian British or Asian Welsh: Indian",49
4,E01000001,City of London 001A,4,"Asian, Asian British or Asian Welsh: Pakistani",2

# 1B Basic exploration of data types, size etc.

In [37]:
print(lsoa_ethnicity_df.head())
print(lsoa_ethnicity_df.tail())
print(lsoa_ethnicity_df.describe())

  Lower layer Super Output Areas Code Lower layer Super Output Areas  \
0                           E01000001            City of London 001A
1                           E01000001            City of London 001A
2                           E01000001            City of London 001A
3                           E01000001            City of London 001A
4                           E01000001            City of London 001A

   Ethnic group (20 categories) Code  \
0                                 -8
1                                  1
2                                  2
3                                  3
4                                  4

                       Ethnic group (20 categories)  Observation
0                                    Does not apply            0
1  Asian, Asian British or Asian Welsh: Bangladeshi            4
2      Asian, Asian British or Asian Welsh: Chinese           66
3       Asian, Asian British or Asian Welsh: Indian           49
4    Asian, Asian British or Asian Welsh: Pakistani            2
    Lower layer Super Output Areas Code Lower layer Super Output Areas  \
995                           E01000056      Barking and Dagenham 018C
996                           E01000056      Barking and Dagenham 018C
997                           E01000056      Barking and Dagenham 018C
998                           E01000056      Barking and Dagenham 018C
999                           E01000056      Barking and Dagenham 018C

     Ethnic group (20 categories) Code  \
995                                 15
996                                 16
997                                 17
998                                 18
999                                 19

                   Ethnic group (20 categories)  Observation
995             White: Gypsy or Irish Traveller            1
996                                 White: Roma            2
997                          White: Other White          216
998                    Other ethnic group: Arab           11
999  Other ethnic group: Any other ethnic group           16
       Ethnic group (20 categories) Code  Observation
count                        1000.000000  1000.000000
mean                            9.100000    90.423000
std                             6.628268   155.819844
min                            -8.000000     0.000000
25%                             4.750000    10.000000
50%                             9.500000    29.000000
75%                            14.250000    88.250000
max                            19.000000   967.000000

In [24]:
lsoa_ethnicity_df.columns

Index(['lsoa21cd', 'lsoa21nm', 'Ethnic group (20 categories) Code',
       'Ethnic group (20 categories)', 'Observation', 'test'],
      dtype='object')

# 1A Creating a virtual copy

In [ ]:
lsoa_ethnicity_df_copy = lsoa_ethnicity_df.copy()

# 2 Add/Drop column

In [14]:
lsoa_ethnicity_df['Lower layer Super Output Areas Code']

0         E01000001
1         E01000001
2         E01000001
3         E01000001
4         E01000001
            ...
713435    W01002040
713436    W01002040
713437    W01002040
713438    W01002040
713439    W01002040
Name: Lower layer Super Output Areas Code, Length: 713440, dtype: object

In [32]:
lsoa_ethnicity_df['test'] = lsoa_ethnicity_df['Observation']*10
lsoa_ethnicity_df.head()

,Lower layer Super Output Areas Code,Lower layer Super Output Areas,Ethnic group (20 categories) Code,Ethnic group (20 categories),Observation,test
0,E01000001,City of London 001A,-8,Does not apply,0,0
1,E01000001,City of London 001A,1,"Asian, Asian British or Asian Welsh: Bangladeshi",4,40
2,E01000001,City of London 001A,2,"Asian, Asian British or Asian Welsh: Chinese",66,660
3,E01000001,City of London 001A,3,"Asian, Asian British or Asian Welsh: Indian",49,490
4,E01000001,City of London 001A,4,"Asian, Asian British or Asian Welsh: Pakistani",2,20

In [33]:
lsoa_ethnicity_df.drop(['test'],1,inplace = True)
lsoa_ethnicity_df.head()

C:\Users\abhimanya.achara\AppData\Local\Temp\ipykernel_33860\1969401854.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  lsoa_ethnicity_df.drop(['test'],1,inplace = True)

,Lower layer Super Output Areas Code,Lower layer Super Output Areas,Ethnic group (20 categories) Code,Ethnic group (20 categories),Observation
0,E01000001,City of London 001A,-8,Does not apply,0
1,E01000001,City of London 001A,1,"Asian, Asian British or Asian Welsh: Bangladeshi",4
2,E01000001,City of London 001A,2,"Asian, Asian British or Asian Welsh: Chinese",66
3,E01000001,City of London 001A,3,"Asian, Asian British or Asian Welsh: Indian",49
4,E01000001,City of London 001A,4,"Asian, Asian British or Asian Welsh: Pakistani",2

# 3 . Rename Columns

In [21]:
lsoa_ethnicity_df.rename(columns = {'Lower layer Super Output Areas Code':'lsoa21cd','Lower layer Super Output Areas':'lsoa21nm'}, inplace = True)

In [ ]:
lsoa_ethnicity_df.head()

# 4. Export to csv

In [ ]:
lsoa_ethnicity_df.to_csv(r"C:\Users\abhimanya.achara\Downloads\output.csv")

In [42]:
#get unique values
lsoa_ethnicity_df['Ethnic group (20 categories)'].unique()

array(['Does not apply',
       'Asian, Asian British or Asian Welsh: Bangladeshi',
       'Asian, Asian British or Asian Welsh: Chinese',
       'Asian, Asian British or Asian Welsh: Indian',
       'Asian, Asian British or Asian Welsh: Pakistani',
       'Asian, Asian British or Asian Welsh: Other Asian',
       'Black, Black British, Black Welsh, Caribbean or African: African',
       'Black, Black British, Black Welsh, Caribbean or African: Caribbean',
       'Black, Black British, Black Welsh, Caribbean or African: Other Black',
       'Mixed or Multiple ethnic groups: White and Asian',
       'Mixed or Multiple ethnic groups: White and Black African',
       'Mixed or Multiple ethnic groups: White and Black Caribbean',
       'Mixed or Multiple ethnic groups: Other Mixed or Multiple ethnic groups',
       'White: English, Welsh, Scottish, Northern Irish or British',
       'White: Irish', 'White: Gypsy or Irish Traveller', 'White: Roma',
       'White: Other White', 'Other ethnic group: Arab',
       'Other ethnic group: Any other ethnic group'], dtype=object)

In [45]:
lsoa_bangladeshi_df = lsoa_ethnicity_df.loc[lsoa_ethnicity_df['Ethnic group (20 categories)']=='Asian, Asian British or Asian Welsh: Bangladeshi']

In [46]:
lsoa_bangladeshi_df.head()

,Lower layer Super Output Areas Code,Lower layer Super Output Areas,Ethnic group (20 categories) Code,Ethnic group (20 categories),Observation
1,E01000001,City of London 001A,1,"Asian, Asian British or Asian Welsh: Bangladeshi",4
21,E01000002,City of London 001B,1,"Asian, Asian British or Asian Welsh: Bangladeshi",7
41,E01000003,City of London 001C,1,"Asian, Asian British or Asian Welsh: Bangladeshi",11
61,E01000005,City of London 001E,1,"Asian, Asian British or Asian Welsh: Bangladeshi",263
81,E01000006,Barking and Dagenham 016A,1,"Asian, Asian British or Asian Welsh: Bangladeshi",214

In [64]:
lsoa_bangladeshi_df2 = lsoa_ethnicity_df.loc[
    ((lsoa_ethnicity_df['Ethnic group (20 categories)'] == 'Asian, Asian British or Asian Welsh: Bangladeshi') |
    (lsoa_ethnicity_df['Ethnic group (20 categories)'] == 'Asian, Asian British or Asian Welsh: Chinese')) & 
    (lsoa_ethnicity_df['Observation']>100)]

In [62]:
lsoa_bangladeshi_df2.head()

,Lower layer Super Output Areas Code,Lower layer Super Output Areas,Ethnic group (20 categories) Code,Ethnic group (20 categories),Observation
22,E01000002,City of London 001B,2,"Asian, Asian British or Asian Welsh: Chinese",102
61,E01000005,City of London 001E,1,"Asian, Asian British or Asian Welsh: Bangladeshi",263
81,E01000006,Barking and Dagenham 016A,1,"Asian, Asian British or Asian Welsh: Bangladeshi",214
101,E01000007,Barking and Dagenham 015A,1,"Asian, Asian British or Asian Welsh: Bangladeshi",328
121,E01000008,Barking and Dagenham 015B,1,"Asian, Asian British or Asian Welsh: Bangladeshi",198

In [69]:
lsoa_bangladeshi_df2.iloc[0:1000, :]

,Lower layer Super Output Areas Code,Lower layer Super Output Areas,Ethnic group (20 categories) Code,Ethnic group (20 categories),Observation
22,E01000002,City of London 001B,2,"Asian, Asian British or Asian Welsh: Chinese",102
61,E01000005,City of London 001E,1,"Asian, Asian British or Asian Welsh: Bangladeshi",263
81,E01000006,Barking and Dagenham 016A,1,"Asian, Asian British or Asian Welsh: Bangladeshi",214
101,E01000007,Barking and Dagenham 015A,1,"Asian, Asian British or Asian Welsh: Bangladeshi",328
121,E01000008,Barking and Dagenham 015B,1,"Asian, Asian British or Asian Welsh: Bangladeshi",198
141,E01000009,Barking and Dagenham 016B,1,"Asian, Asian British or Asian Welsh: Bangladeshi",215
161,E01000011,Barking and Dagenham 016C,1,"Asian, Asian British or Asian Welsh: Bangladeshi",249
181,E01000012,Barking and Dagenham 015D,1,"Asian, Asian British or Asian Welsh: Bangladeshi",287
201,E01000013,Barking and Dagenham 013A,1,"Asian, Asian British or Asian Welsh: Bangladeshi",129
221,E01000014,Barking and Dagenham 013B,1,"Asian, Asian British or Asian Welsh: Bangladeshi",161
241,E01000015,Barking and Dagenham 009A,1,"Asian, Asian British or Asian Welsh: Bangladeshi",153
261,E01000016,Barking and Dagenham 009B,1,"Asian, Asian British or Asian Welsh: Bangladeshi",120
281,E01000017,Barking and Dagenham 009C,1,"Asian, Asian British or Asian Welsh: Bangladeshi",160
301,E01000018,Barking and Dagenham 009D,1,"Asian, Asian British or Asian Welsh: Bangladeshi",106
321,E01000019,Barking and Dagenham 023A,1,"Asian, Asian British or Asian Welsh: Bangladeshi",174
341,E01000020,Barking and Dagenham 023B,1,"Asian, Asian British or Asian Welsh: Bangladeshi",155
361,E01000021,Barking and Dagenham 008A,1,"Asian, Asian British or Asian Welsh: Bangladeshi",160
381,E01000022,Barking and Dagenham 008B,1,"Asian, Asian British or Asian Welsh: Bangladeshi",152
401,E01000024,Barking and Dagenham 008D,1,"Asian, Asian British or Asian Welsh: Bangladeshi",122
421,E01000025,Barking and Dagenham 008E,1,"Asian, Asian British or Asian Welsh: Bangladeshi",148
461,E01000028,Barking and Dagenham 001B,1,"Asian, Asian British or Asian Welsh: Bangladeshi",187
481,E01000029,Barking and Dagenham 001C,1,"Asian, Asian British or Asian Welsh: Bangladeshi",188
501,E01000030,Barking and Dagenham 001D,1,"Asian, Asian British or Asian Welsh: Bangladeshi",153
521,E01000031,Barking and Dagenham 002A,1,"Asian, Asian British or Asian Welsh: Bangladeshi",226
541,E01000032,Barking and Dagenham 002B,1,"Asian, Asian British or Asian Welsh: Bangladeshi",319
601,E01000035,Barking and Dagenham 010A,1,"Asian, Asian British or Asian Welsh: Bangladeshi",212
621,E01000036,Barking and Dagenham 010B,1,"Asian, Asian British or Asian Welsh: Bangladeshi",218
701,E01000040,Barking and Dagenham 019A,1,"Asian, Asian British or Asian Welsh: Bangladeshi",241
721,E01000041,Barking and Dagenham 017A,1,"Asian, Asian British or Asian Welsh: Bangladeshi",185
741,E01000042,Barking and Dagenham 017B,1,"Asian, Asian British or Asian Welsh: Bangladeshi",240
761,E01000043,Barking and Dagenham 019B,1,"Asian, Asian British or Asian Welsh: Bangladeshi",321
781,E01000044,Barking and Dagenham 016D,1,"Asian, Asian British or Asian Welsh: Bangladeshi",182
801,E01000045,Barking and Dagenham 017C,1,"Asian, Asian British or Asian Welsh: Bangladeshi",220
821,E01000046,Barking and Dagenham 017D,1,"Asian, Asian British or Asian Welsh: Bangladeshi",132
841,E01000049,Barking and Dagenham 021C,1,"Asian, Asian British or Asian Welsh: Bangladeshi",132
861,E01000050,Barking and Dagenham 019C,1,"Asian, Asian British or Asian Welsh: Bangladeshi",201
881,E01000051,Barking and Dagenham 021D,1,"Asian, Asian British or Asian Welsh: Bangladeshi",162
901,E01000052,Barking and Dagenham 019D,1,"Asian, Asian British or Asian Welsh: Bangladeshi",327
941,E01000054,Barking and Dagenham 018A,1,"Asian, Asian British or Asian Welsh: Bangladeshi",114
961,E01000055,Barking and Dagenham 018B,1,"Asian, Asian British or Asian Welsh: Bangladeshi",105
981,E01000056,Barking and Dagenham 018C,1,"Asian, Asian British or Asian Welsh: Bangladeshi",109

In [68]:
lsoa_bangladeshi_df2.tail()

,Lower layer Super Output Areas Code,Lower layer Super Output Areas,Ethnic group (20 categories) Code,Ethnic group (20 categories),Observation
881,E01000051,Barking and Dagenham 021D,1,"Asian, Asian British or Asian Welsh: Bangladeshi",162
901,E01000052,Barking and Dagenham 019D,1,"Asian, Asian British or Asian Welsh: Bangladeshi",327
941,E01000054,Barking and Dagenham 018A,1,"Asian, Asian British or Asian Welsh: Bangladeshi",114
961,E01000055,Barking and Dagenham 018B,1,"Asian, Asian British or Asian Welsh: Bangladeshi",105
981,E01000056,Barking and Dagenham 018C,1,"Asian, Asian British or Asian Welsh: Bangladeshi",109